.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.chart {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 242, 254, 0.6);
  font-size: 14px;
  position: relative;
  z-index: 1;
}
