/**
 * Text Component Styles
 * 文本组件样式
 */

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.text {
  display: inline-block;
  word-break: break-word;
}

.link {
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.link:hover {
  opacity: 0.8;
}

.underline {
  text-decoration: underline;
}

/* 对齐方式 */
.alignLeft {
  text-align: left;
  justify-content: flex-start;
}

.alignCenter {
  text-align: center;
  justify-content: center;
}

.alignRight {
  text-align: right;
  justify-content: flex-end;
}

/* 垂直对齐 */
.valignTop {
  align-items: flex-start;
}

.valignMiddle {
  align-items: center;
}

.valignBottom {
  align-items: flex-end;
}
